/**
 * Variables
 */
.current-ltw-shortcode {
  margin: 1.5rem 0;
}
@supports ( display: grid ) {
  @media (min-width: 771px) {
    .current-ltw-shortcode {
      display: grid;
      grid-template-columns: 5fr 7fr;
      grid-template-areas: "search search" "list single";
      grid-gap: 1.5rem;
      gap: 1.5rem;
    }
  }
  .current-ltw-shortcode .projects-search-form-search {
    grid-area: search;
  }
  .current-ltw-shortcode .projects-list {
    grid-area: list;
  }
  .current-ltw-shortcode .projects-single-layout {
    grid-area: single;
  }
}
.projects-search-form-search {
  padding: 1.5rem 0;
  border-bottom: 1px solid #343434;
}
.projects-search-form-search input,
.projects-search-form-search button,
.projects-search-form-search select,
.projects-search-form-search details {
  border: 1px solid #666666;
}
.projects-search-form-search input,
.projects-search-form-search .btn,
.projects-search-form-search button,
.projects-search-form-search select {
  padding: 4px;
}
.projects-search-form-search input,
.projects-search-form-search .btn,
.projects-search-form-search button,
.projects-search-form-search details,
.projects-search-form-search select,
.projects-search-form-search label {
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 16px;
  border-radius: 0;
  height: unset;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: middle;
  float: left;
}
.projects-search-form-search .btn-submit {
  background-color: #1c819e;
  color: white;
}
.projects-search-form-search .project-category .btn::after {
  content: "\1f893";
  display: inline;
}
.projects-search-form-search details[open] {
  border: 1px solid #343434;
  position: relative;
  top: 0;
  vertical-align: top;
  max-height: 50vh;
  overflow: scroll;
}
.projects-search-form-search details li {
  display: list-item;
  list-style: none;
  margin-bottom: 0;
}
.projects-search-form-search details label {
  float: none;
  clear: both;
}
.projects-list {
  border: 1px solid #343434;
  padding: 0.75rem;
}
.projects-list-item {
  border: 1px solid #343434;
  padding: 0.75rem;
}
.projects-list-item + .projects-list-item {
  margin-top: 0.75rem;
}
.projects-single-layout {
  border: 1px solid #343434;
  padding: 0.75rem;
}
.projects-single-layout .projects-single-holder .entry-content iframe,
.projects-single-layout .projects-single-holder .entry-content img {
  max-width: 100%;
}
.projects-single-layout .projects-single-holder .entry-content .project-tags {
  margin-left: 0;
}
.projects-single-layout .projects-single-holder .entry-content label {
  font-weight: bold;
  display: inline;
}
.projects-single-layout .projects-single-holder .entry-content .project-specific-link {
  display: block;
}
.project-tags {
  padding: 0;
  margin: 1em 0;
}
.project-tags li {
  display: inline-block;
  padding: 0.5em;
  border: 1px solid #343434;
}
.project-tags li + li {
  margin-left: 0.5em;
}
.project-tags [class*=project-status] {
  background: yellow;
}
.project-tags [class*=project-org-type] {
  background: aliceblue;
}
.project-tags [class*=project-category] {
  background: lavender;
}
/*# sourceMappingURL=css/current-ltw-projects.css.map */