/**
 * Variables
 */
#wpbdp-main-box {
  background: transparent;
  padding: 0;
}
#wpbdp-main-box .bg-grey {
  background-color: #eeeeee;
}
#wpbdp-main-box .padding-1 {
  padding: 1.5rem;
}
#wpbdp-main-box .main-links {
  margin-bottom: 1.5rem;
}
#wpbdp-main-box .main-fields {
  margin-bottom: 1.5rem;
}
#wpbdp-main-box .the-search-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  line-height: 3rem;
}
#wpbdp-main-box .the-search-box label {
  flex: 0 1 auto;
  display: inline-block;
  text-align: right;
  font-size: 1.2em;
  font-weight: bold;
  padding-right: 1em;
  margin: 0;
}
#wpbdp-main-box .the-search-box input {
  flex: 1 0 40%;
  display: inline-block;
  height: 3rem;
  box-sizing: border-box;
  margin: 0;
}
#wpbdp-main-box #main-search {
  width: 100%;
  border: 1px solid #666666;
  background-color: #eeeeee;
  box-sizing: border-box;
  height: 3rem;
}
#wpbdp-main-box .advanced {
  float: left;
  width: 100%;
  text-align: center;
  height: 0;
  font-size: 1rem;
}
#wpbdp-main-box .wpbdp-main-links .button {
  padding: 0;
}
#wpbdp-main-box .button {
  line-height: 3rem;
}
#wpbdp-main-box #wpbdp-bar-submit-listing-button {
  background-color: #e86059;
  color: white;
  border: none;
}
#wpbdp-main-box #wpbdp-bar-submit-listing-button:hover {
  background-color: #e2352c;
}
#wpbdp-main-box .main-links .wpbdp-main-links {
  text-align: left;
}
#wpbdp-main-box .main-links .wpbdp-main-links input.button,
#wpbdp-main-box .main-links .wpbdp-main-links input[type="button"] {
  width: auto;
  border: none;
  background: none;
  color: #1c819e;
  font-size: 1.25em;
  padding: 0;
  border-bottom: 0.1em solid transparent;
}
#wpbdp-main-box .main-links .wpbdp-main-links input.button + .button,
#wpbdp-main-box .main-links .wpbdp-main-links input[type="button"] + .button {
  margin-left: 1em;
}
#wpbdp-main-box .main-links .wpbdp-main-links input.button:hover,
#wpbdp-main-box .main-links .wpbdp-main-links input[type="button"]:hover {
  text-decoration: none;
  border-bottom-color: #1c819e;
}
@media (max-width: 1000px) {
  #wpbdp-main-box .the-search-box label {
    display: none;
  }
}
@media (max-width: 750px) {
  #wpbdp-main-box form.row-fluid > .span9,
  #wpbdp-main-box form.row-fluid > .span3 {
    clear: both;
    margin: 0 auto;
    float: none;
    width: 100%;
  }
  #wpbdp-main-box .wpbdp-main-links {
    text-align: center;
  }
  #wpbdp-main-box .wpbdp-main-links input.button {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  #wpbdp-main-box .create-btn {
    padding-bottom: 0;
  }
  #wpbdp-main-box .advanced {
    display: none;
  }
}
@media (max-width: 640px) {
  #wpbdp-main-box .main-links .wpbdp-main-links {
    text-align: center;
  }
}
#wpbdp-categories {
  display: grid;
  grid-gap: 1em;
  justify-items: stretch;
  grid-template-columns: 1fr;
}
@media (min-width: 600px) {
  #wpbdp-categories {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) {
  #wpbdp-categories {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
#wpbdp-categories * {
  box-sizing: border-box;
}
#wpbdp-categories .cat-item {
  justify-self: stretch;
  position: relative;
  padding-bottom: 3rem;
  background-color: #eeeeee;
}
#wpbdp-categories .cat-item img.attachment-post-thumbnail {
  display: block;
  float: none;
  clear: both;
  max-width: 20%;
  background-color: #1c819e;
  margin-bottom: 1.5rem;
}
#wpbdp-categories .cat-item h2 {
  font-weight: bold;
  padding: 0 1.5rem;
  margin-top: 1.5rem;
  font-size: 22px;
}
#wpbdp-categories .cat-item .edit-category-link {
  clear: both;
  display: block;
  padding: 0 1.5rem;
  font-size: 0.75em;
}
#wpbdp-categories .cat-item ul {
  padding: 0 1.5rem;
}
#wpbdp-categories .cat-item .category-description {
  padding: 0 1.5rem;
  margin-bottom: 1.5rem;
}
#wpbdp-categories .cat-item .category-description,
#wpbdp-categories .cat-item li {
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  color: #343434;
  line-height: 1.3;
  font-size: 18px;
}
#wpbdp-categories .cat-item li a {
  color: #343434;
}
#wpbdp-categories .cat-item .listing-link {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  line-height: 3rem;
  padding: 0 1.5rem;
  color: white;
  background-color: #e86059;
}
#wpbdp-categories .cat-item .listing-link:hover {
  background-color: #e2352c;
}
#wpbdp-categories .cat-item .listing-link::after {
  content: "\2192";
  display: inline-block;
  position: absolute;
  right: 0;
  border-left: 1px solid hsla(0, 0%, 100%, 0.5);
  padding: 0 1rem;
}
@media (min-width: 900px) {
  #wpbdp-page-category .category-tags-list {
    padding: 0;
    margin-left: 0;
  }
  #wpbdp-page-category .category-tags-list li {
    display: inline-block;
    border: 1px solid #666666;
    padding: 0.5em;
  }
  #wpbdp-page-category .category-tags-list li + li {
    margin-left: 1.5rem;
  }
}
#wpbdp-listings-list {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 1.5rem;
}
@media (min-width: 900px) {
  #wpbdp-listings-list {
    grid-template-columns: 1fr 1fr;
  }
}
#wpbdp-listings-list .wpbdp-listing {
  place-self: stretch;
  border: 1px solid #eeeeee;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 3rem;
  background-color: white;
  box-sizing: border-box;
  position: relative;
}
#wpbdp-listings-list .listing-thumbnail {
  float: none;
  margin: 1.5rem;
}
#wpbdp-listings-list .listing-details {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#wpbdp-listings-list .listing-actions {
  margin-top: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#wpbdp-listings-list .listing-actions .view-listing.button {
  width: 100%;
  display: block;
  margin: 0;
  border: none;
  box-shadow: none;
  height: 3rem;
  line-height: 3rem;
  padding: 0 0 0 1.5rem;
  box-sizing: border-box;
  border-radius: 0;
  background: #e86059;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
#wpbdp-listings-list .listing-actions .view-listing.button::after {
  content: "\2192";
  display: inline-block;
  position: absolute;
  right: 0;
  border-left: 1px solid hsla(0, 0%, 100%, 0.5);
  padding: 0 1rem;
  background-color: #e86059;
  color: white;
}
#wpbdp-listings-list .listing-actions .delete-listing,
#wpbdp-listings-list .listing-actions .edit-listing {
  display: none;
}
.wpbdp-listing-single .listing-title {
  background: transparent;
  padding: 0;
  border: none;
}
.wpbdp-listing-single .listing-title h2 {
  font-size: 52px;
}
.wpbdp-listing-single .listing-categories {
  font-size: 16px;
}
.wpbdp-listing-single .listing-categories a {
  color: #99a1a6;
  text-transform: uppercase;
}
.wpbdp-listing-single .extra-images {
  margin-bottom: 30px;
}
.wpbdp-listing-single .listing-contact-details {
  background: #F6F5F6;
  border: 1px solid #ddd;
  padding: 30px;
}
.wpbdp-listing-single .listing-contact-details h5 {
  margin-bottom: 10px;
}
.wpbdp-listing-single .listing-contact-details .dashicons {
  vertical-align: middle;
  color: #1c819e;
  margin-right: 10px;
}
.wpbdp-listing-single .listing-contact-details .listing-contact-detail {
  margin-bottom: 5px;
}
.wpbdp-listing-single .listing-contact-details .listing-contact-detail a {
  color: #1c819e;
  text-decoration: none;
}
.wpbdp-listing-single .listing-contact-details .listing-contact-detail:last-of-type {
  margin-bottom: 30px;
}
.listing-sidebar .listing-main-image img {
  width: 100%;
}
.listing-sidebar .listing-services h3 {
  text-align: center;
  margin-bottom: 10px;
}
.listing-sidebar .listing-services hr {
  width: 15%;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 3px solid #000;
}
.listing-sidebar .listing-services .listing-services-list {
  list-style: none;
  margin-left: 0;
}
.listing-sidebar .listing-services .listing-services-list li {
  padding: 15px;
  margin-bottom: 0;
}
.listing-sidebar .listing-services .listing-services-list li:nth-child( even ) {
  background: #E9F3FB;
}
.listing-sidebar .listing-services .listing-services-list li a {
  color: #1c819e;
  font-weight: bold;
  text-transform: capitalize;
}
.listing-sidebar .listing-actions input.delete-listing {
  margin-left: 0;
  color: white!important;
}
.listing-sidebar .edit-listing,
.listing-sidebar .delete-listing,
.listing-sidebar #wpbdp-bar-submit-listing-button,
.listing-sidebar .back-to-dir {
  min-width: 30%;
  width: 100%;
  font-size: 16px;
  line-height: 3rem;
  background-color: #e86059;
  color: white;
  border: none;
  padding: 0;
  margin-bottom: 10px;
}
.listing-sidebar .edit-listing:hover,
.listing-sidebar .delete-listing:hover,
.listing-sidebar #wpbdp-bar-submit-listing-button:hover,
.listing-sidebar .back-to-dir:hover {
  background-color: #e2352c;
}
.wpbdp-submit-listing-section .wpbdp-plan .wpbdp-plan-price label {
  background: #fff;
}
.wpbdp-submit-listing-section .wpbdp-plan .wpbdp-plan-price label:after {
  content: "Select";
}
.wpbdp-submit-listing-section .wpbdp-plan .wpbdp-plan-price .wpbdp-plan-price-amount {
  display: none;
}
.wpbdp-submit-listing-section .wpbdp-plan.display-only .wpbdp-plan-price {
  display: none;
}
.wpbdp-submit-listing-section .wpbdp-form-field-id-5.wpbdp-form-field-type-url .wpbdp-url-field-col:nth-child(2) {
  display: none;
}
.wpbdp-submit-listing-section .wpbdp-form-field-id-5.wpbdp-form-field-type-url .wpbdp-url-field-col:nth-child(1) {
  width: 100%;
  padding-right: 0;
}
.wpbdp-submit-listing-section .wpbdp-form-field-id-5.wpbdp-form-field-type-url .wpbdp-form-field-description {
  display: none;
}
.wpbdp-submit-listing-section.wpbdp-submit-listing-section-listing_images .wpbdp-submit-listing-section-content h4,
.wpbdp-submit-listing-section.wpbdp-submit-listing-section-listing_images .wpbdp-submit-listing-section-content #no-images-message {
  display: none;
}
/*# sourceMappingURL=css/wpbdp.css.map */