@import "vars.less";

// this sets common values for a lot of padding and margins in this file
@common-whitespace: 1.5rem;

.current-ltw-shortcode {
	margin: @common-whitespace 0;

	@supports( display: grid ) {
		@media ( min-width: 771px ) {
			display: grid;
			grid-template-columns: 5fr 7fr;
			grid-template-areas:
				"search search"
				"list single"
			;
			grid-gap: @common-whitespace;
			gap: @common-whitespace;
		}
		.projects-search-form {
			grid-area: search;
		}
		.projects-list {
			grid-area: list;
		}
		.projects-single-layout {
			grid-area: single;
		}
	}
}

.projects-search-form {
	padding: @common-whitespace 0;
	border-bottom: 1px solid @grey-d;
}
.projects-list {
	border: 1px solid @grey-d;
	padding: @common-whitespace * 0.5;
}
.projects-list-item {
	border: 1px solid @grey-d;
	padding: @common-whitespace * 0.5;
	& + .projects-list-item {
		margin-top: @common-whitespace * 0.5;
	}
}
.projects-single-layout {
	border: 1px solid @grey-d;
	padding: @common-whitespace * 0.5;
	.projects-single-holder {
		.entry-content {
			iframe,
			img {
				max-width: 100%;
			}
			.project-tags {
				margin-left: 0;
			}
			label {
				font-weight: bold;
				display: inline;
			}
			.project-specific-link {
				display: block;
			}
		}
	}
}
