@import "vars.less";

// this sets common values for a lot of padding and margins in this file
@common-whitespace: 1.5rem;

.current-ltw-shortcode {
	margin: @common-whitespace 0;

	@supports( display: grid ) {
		@media ( min-width: 771px ) {
			display: grid;
			grid-template-columns: 5fr 7fr;
			grid-template-areas:
				"search search"
				"list single"
			;
			grid-gap: @common-whitespace;
			gap: @common-whitespace;
		}
		.projects-search-form-search {
			grid-area: search;
		}
		.projects-list {
			grid-area: list;
		}
		.projects-single-layout {
			grid-area: single;
		}
	}
}

.projects-search-form-search {
	padding: @common-whitespace 0;
	border-bottom: 1px solid @grey-d;

	input, button, select, details {
		border: 1px solid @grey-m;
	}
	input, .btn, button, select {
		padding: 4px;
	}
	input, .btn, button, details, select, label {
		box-sizing: border-box;
		line-height: 1.5;
		font-size: 16px;
		border-radius: 0;
		height: unset;
		margin-top: 0;
		margin-bottom: 0;
		display: inline-block;
		vertical-align: middle;
		float: left;
	}
	.btn-submit {
		background-color: @brand;
		color: white;
	}
	.project-category .btn::after {
		content: "\1f893";
		display: inline;
	}
	
	details[open] {
		border: 1px solid @grey-d;
		position: relative;
		top: 0;
		vertical-align: top;
		max-height: 50vh;
		overflow: scroll;
	}
	details {
		li {
			display: list-item;
			list-style: none;
			margin-bottom: 0;
		}
		label {
			float: none;
			clear: both;
		}
	}
}
.projects-list {
	border: 1px solid @grey-d;
	padding: @common-whitespace * 0.5;
}
.projects-list-item {
	border: 1px solid @grey-d;
	padding: @common-whitespace * 0.5;
	& + .projects-list-item {
		margin-top: @common-whitespace * 0.5;
	}
}
.projects-single-layout {
	border: 1px solid @grey-d;
	padding: @common-whitespace * 0.5;
	.projects-single-holder {
		.entry-content {
			iframe,
			img {
				max-width: 100%;
			}
			.project-tags {
				margin-left: 0;
			}
			label {
				font-weight: bold;
				display: inline;
			}
			.project-specific-link {
				display: block;
			}
		}
	}
}
.project-tags {
	padding: 0;
	margin: 1em 0;
	li {
		display: inline-block;
		padding: 0.5em;
		border: 1px solid @grey-d;

		& + li {
			margin-left: 0.5em;
		}
	}
	[class*=project-status] {
		background: yellow;
	}
	[class*=project-org-type] {
		background: aliceblue;
	}
	[class*=project-category] {
		background: lavender;
	}
}
