@import "vars.less";

// this sets common values for a lot of padding and margins in this file
@common-whitespace: 1.5rem;

#wpbdp-main-box {
  background: transparent;
  padding: 0;

  .bg-grey {
    background-color: @grey-l;
  }
  .padding-1 {
    padding: 1 * @common-whitespace;
  }
  .main-links{
    margin-bottom: 1 * @common-whitespace;
  }
  .main-fields {
    margin-bottom: 1 * @common-whitespace;
  }
  .main-links .wpbdp-main-links {
    text-align: left;
    input.button,
    input[type="button"] {
      border: none;
      background: none;
      color: @brand;
      font-size: 1.25em;
      padding: 0;
      & + .button {
        margin-left: 1em;
      }
    }
  }
  .button {
    line-height: 2 * @common-whitespace; 
  }
}
#wpbdp-categories {
  display: grid;
  grid-gap: 1em;
  justify-items: stretch;

  grid-template-columns: 1fr;
  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  * {
    box-sizing: border-box;
  }

  .cat-item {
    justify-self: stretch;
    position: relative;
    padding-bottom: 2 * @common-whitespace;

    background-color: @grey-l;

    img.attachment-post-thumbnail {
      display: block;
      float: none;
      clear: both;
      max-width: 20%;
      background-color: @brand;
      margin-bottom: @common-whitespace;
    }
    h2 {
      font-weight: 400;
      padding: 0 @common-whitespace;
      margin-top: @common-whitespace;
      font-size: 22px;
    }

    .edit-category-link {
      clear: both;
      display: block;
      padding: 0 @common-whitespace;
      font-size: 0.75em;
    }

    .category-description {
      padding: 0 @common-whitespace;
      margin-bottom: @common-whitespace;
      line-height: 1.3;
      font-size: 16px;
    }

    .listing-link {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;

      line-height: 2 * @common-whitespace;
      padding: 0 @common-whitespace;

      color: white;
      background-color: @highlight;

      &:hover {
        background-color: darken( @highlight, 10% );
      }

      &::after {
        content: "\2192";
        display: inline-block;
        position: absolute;
        right: 0;
        border-left: 1px solid hsla( 0, 0, 100%, 0.5 );
        padding: 0 1rem;
      }
    }
  }
}
